.login {
    background-image: url(.././public/images/istockphoto-1335295270-612x612.jpg);
    background-size: cover;
    height: 100vh;
  }
  
  .signup {
    background-image: url(.././public/images/istockphoto-1335295270-612x612.jpg);
    background-size: cover;
    height: 120vh;
  }
  .home {
    background-image: url(.././public/images/istockphoto-1335295270-612x612.jpg);
    background-size: cover;
    height: 120vh; /* Increase the height as needed */
  }
  .admin {
    background-image: url(.././public/images/istockphoto-1437053346-2048x20489.jpg);
    background-size: cover;
    height: 100vh; /* Increase the height as needed */
  }
 
 
  